@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PTSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: "PT Sans Bold";
	src: url("../fonts/PTSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: "PT Sans Italic";
	src: url("../fonts/PTSansItalic.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: "Roboto Bold";
	src: url("../fonts/RobotoBold.ttf") format("truetype");
}

:root {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	--charcoal: #333333;
	--charcoalgrad: #121415;
	--donker: #333652;
	--whitesnow: #f2f2f2;
}

a:hover {
	text-decoration: none;
}

body {
	font-family: "PT Sans", "Roboto";
	padding: 0;
	margin: 0;
}

.bg-main {
	background: rgb(18, 20, 21);
	background: linear-gradient(
		0deg,
		rgba(18, 20, 21, 1) 0%,
		rgba(51, 51, 51, 1) 100%
	);
}

.w-35 {
	width: 35% !important;
}

.w-65 {
	width: 65% !important;
}

/* Admin Dashboard */
#wrapper {
	overflow-x: hidden;
}

#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin 0.25s ease-out;
	-moz-transition: margin 0.25s ease-out;
	-o-transition: margin 0.25s ease-out;
	transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
	width: 15rem;
}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

#box {
	padding: 0.875rem 1.25rem;
	position: absolute;
	bottom: 0;
}

@media (min-width: 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}
}

.loading-wrapper {
	background-color: #1214158b;
}
/* End Admin Dashboard */
